form {
    background-color:rgb(1, 1, 1);
    color: white;
    flex-direction: column;
    display: flex;
    gap: 12px;
    padding: 20px 100px;
}

* {
  background-color: black;
  
}

button {
    color: rgb(162, 40, 40);
    min-width: 150px;
    
}

h1 {
    color: rgb(123, 7, 7);
    
}

h2 {
  color: rgb(138, 137, 137);
  
}
 p {
  color: rgb(119, 8, 8);
 }

 input {
  color: white;
  border-radius: 250px;
  padding: 10px 10px;
 }

 select {
  color: rgb(117, 117, 117);
  border-radius: 250px;
  padding: 10px;
 }

 img {
     padding: 20px;
     border-radius: 200px;
     width: 400px;
 }

 



 
 